<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootswatch journal -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- fortawesome -->
    <link rel="stylesheet" href="/fortawesome/css/all.css" />
    <link rel="stylesheet" href="/fortawesome/css/brands.css" />
    <!-- boostrap cdn -->
    <!-- <link rel="stylesheet" href="/bootstrapcdn/css/bootstrap.min.css" /> -->
    <title>Node.js & Passport App</title>
  </head>
  <body>
    <%- body %>
    <!-- jquery -->
    <script src="/jquery/jquery.min.js"></script>
    <!-- bootstrap bundle js -->
    <script src="/bootstrapcdn/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
